{
  "username": "iprocess.dpp.admin.dev",
  "adminUsername": "iprocess.dpp.admin.dev",
  "standardUsername": "iprocess.dpp.standard.dev",
  "adminPassword": "SECRET",
  "standardPassword" : "SECRET",
  "userPoolId": "eu-west-1_svSE3DKT0",
  "clientId": "1cu1rnqkmopnogg4q2v6rffg2f"
}